BasedOnStyle:             LLVM
BreakBeforeBraces:        Attach
IndentWidth:              4
ColumnLimit:              120

AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine:    Empty

ConstructorInitializerIndentWidth: 2
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers:  NextLine

BreakTemplateDeclarations: true

ReflowComments: true
MaxEmptyLinesToKeep: 1

IncludeBlocks: Regroup    
IncludeCategories:
  - Regex:           '^".*\.(h|hpp|hh|m|mm)"$'
    Priority:        1
  - Regex:           '^<(Foundation|AppKit|UIKit|Cocoa|Core[A-Z]+|AVFoundation|Metal|GameKit|SceneKit|SwiftUI|Combine|QuartzCore|Accelerate)/'
    Priority:        2
  - Regex:           '^<(Foundation|AppKit|UIKit|CoreFoundation|CoreGraphics|CoreText|CoreAudio|Metal|CoreML|Dispatch|mach-o|objc)/'
    Priority:        2
  - Regex:           '^<(sys|mach|dispatch|os|pthread|libkern|IOKit|xpc|Availability|TargetConditionals)/'
    Priority:        3
  - Regex:           '^<[^./>]+>$'
    Priority:        10
  - Regex:           '.*'
    Priority:        20
