BasedOnStyle: LLVM

IndentWidth: 4
ColumnLimit: 120

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty

ConstructorInitializerIndentWidth: 2
PackConstructorInitializers: NextLine

PointerAlignment: Right
ReferenceAlignment: Left
DerivePointerAlignment: No

BreakTemplateDeclarations: Yes

IncludeBlocks: Regroup    
IncludeCategories:
  - Regex:           '^<os/'
    Priority:        5
  - Regex:           '^<[^./>]+>$'
    Priority:        10
  - Regex:           '.*'
    Priority:        20
