BasedOnStyle:             LLVM
BreakBeforeBraces:        Attach
IndentWidth:              4
ColumnLimit:              120

AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine:    Empty

ConstructorInitializerIndentWidth: 2
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers:  NextLine

BreakTemplateDeclarations: true

ReflowComments: true
MaxEmptyLinesToKeep: 1

IncludeBlocks: Regroup    
IncludeCategories:
  - Regex:           '^<os/'
    Priority:        5
  - Regex:           '^<[^./>]+>$'
    Priority:        10
  - Regex:           '.*'
    Priority:        20
